body {
  text-align: left;
  background-color: #CFFAED;
}
#left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 900px;
  min-width: 225px;
  min-height: 700px;
}
#right {
  position: absolute;
  margin: 2px;
  min-width: 200px;
  top: 0px;
  right: 15px;
  left: 900px;
  height: calc(100% - 10px);
}
#drawframe {
  position: relative;
  cursor: crosshair;
  width: 800px;
  height: 450px;
  background-color: #b1d6cb;
  padding: 50px;
}
#drawzone {
  position: absolute;
  background-color:white;
  border: 1px solid black;
}
#tempdrawzone {
  position: absolute;
  background-color: rgba(0,0,0,0);
  border: 1px solid transparent;
}
#piirtoaika {
  float: right;
  padding-top: 3px;
  font-size: 30px;
  font-weight: bold;
  cursor: crosshair;
}
#koords {
  position: absolute;
  bottom: 15px;
  float: left;
}
#tools {
  position: absolute;
  top: 555px;
  left: 0px;
  min-width: 225px;
  width: 100%;
  cursor: default;
}
#tools1 {
  height: 100%;
  float:left;
  text-align:left;
  margin-left: 50px;
  margin-right: 0px;
  margin-bottom: 5px;
}
#toolpreview {
  float: left;
  margin: 5px;
  background-color: #F5F5F5;
  border: 1px solid black;
}
#toolbuttons {
  width: 158px;
  height: 60px;
  padding: 6px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.tool_button {
  cursor: pointer;
  background-color: #ffffff;
  outline: 1px solid gray;
  outline-offset: 0px;
}
.tool_button_clicked {
  outline: 2px solid black;
  outline-offset: -1px;
}
#tooladjustments {
  position: relative;
  width: 158px;
  padding-right: 6px;
  padding-left: 6px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
input[type=checkbox] {
  cursor: pointer;
}
input[type=range] {
  padding: 0px;
  margin: 0px;
  width: 158px;
  cursor: pointer;
}
#tools2 {
  height: 100%;
  float: left;
  margin-left: 5px;
  text-align: left;
  padding-top: 5px;
  border: 1px black solid;
  margin-bottom: 5px;
}
#vvalbutton {
  background: black;
  margin-left: 6px;
}
.button_l {
  background-color: #d7f0e9;
  cursor: pointer;
  width: 49px;
  margin-right: 4px;
  margin-bottom: 4px;
}
/* Värin valinta */
#varit {
  width: 225px;
  padding: 4px;
}
#vval {
  position: absolute;
  left: -5000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Värinvaihtonapit */
.vnap {
  cursor: pointer;
  font-size: 8px;
  height: 30px;
  width: 30px;
  margin: 2px;
  border-collapse: separate;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(77,77,77);
  border-radius: 10px;
}
.vnap:hover {
  border-color: rgb(123,123,123);
}
#userlist {
  float: right;
  text-align: center;
  min-width: 140px;
  min-height: 100px;
  max-height: 400px;
  margin-right: 3px;
  overflow: hidden;
  border: 1px solid black;
}
#users {
  font-family: "DejaVu Sans Mono", "Consolas", monospace;
  font-size: 13px;
  border-top: 1px solid black;
  margin: 0px;
  padding: 0px;
}
table#users tr:nth-child(odd) {
  background-color: #e2fcf4;
}
#messages {
  position: absolute;
  width: 100%;
  height: calc(100% - 36px);
  margin-top: 0px;
  font-family: "DejaVu Sans Mono", "Consolas", monospace;
  font-size: 13px;
  overflow-y: scroll;
  border: 1px solid black;
  list-style-type: none;
  padding: 0;
}
#messages li {padding: 1px 10px; }
#messages li:nth-child(odd) { background: #e2fcf4; }
#chatti {
  position: absolute;
  margin-bottom: 10px;
  width: 100%;
  height:22px;
  bottom: 0px;
}
#nick {
  font-family: "DejaVu Sans Mono", "Consolas", monospace;
  background-color: #e2fcf4;
  position: absolute;
  bottom: 0px;
  width: calc(5% + 65px);
}
#msg {
  font-family: "DejaVu Sans Mono", "Consolas", monospace;
  background-color: #e2fcf4;
  position: absolute;
  left: calc(5% + 70px);
  bottom: 0px;
  width: calc(95% - 125px);
}
#chatsend {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  background-color: #d7f0e9;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
